.Apuesta, .Saldo, #BtnDer, #Columna1, #Columna3{
    /*Antes de empezar un nuevo juego*/
    display: none;
 }

 /* Animaciones animacion */
 .Banner{
    position: relative;
    visibility: hidden;
}

.Banner-Inicia {
    visibility: visible;
    animation-name: AnimacionInicia; /*Link al frame de animacion*/
    animation-duration: 4s; /*Duracion de la animacion*/
    animation-timing-function: cubic-bezier(1, 0, 0, 1); /*Modo de progreso de animacion*/
    animation-fill-mode: forwards; /*Quedate en tu ultima posicion al terminar la animacion*/
}

.Banner-Dados {
    visibility: visible;
    animation-name: AnimacionDados; /*Link al frame de animacion*/
    animation-duration: 5s; /*Duracion de la animacion*/
    animation-timing-function: cubic-bezier(1, 0, 0, 1); /*Modo de progreso de animacion*/
    animation-fill-mode: forwards; /*Quedate en tu ultima posicion al terminar la animacion*/
}

/*Movimiento Animacion-Inicio*/
@keyframes AnimacionInicia {
    0%   {left: -170%; top: 0px;}
    50%  {left: 10%; top: 0px;}
    100% {left: 100%; top: 0px;}
}

/*Movimiento Animacion-Dados*/
@keyframes AnimacionDados {
    0%   {left: -170%; top: 0px;}
    50%  {left: 10%; top: 0px;}
    100% {left: 100%; top: 0px;}
}